## Pandas_DataStructures

- Series : column하나 1차원 , 인덱스가 있다. 
- DataFrame:  행과 열이 있는 테이블 형태  2차원
- Schema : 표의 설계도

| **구분**     | **Series (시리즈)**                | **DataFrame (데이터프레임)**            |
| ---------- | ------------------------------- | --------------------------------- |
| **차원**     | **1차원** (줄 1개)                  | **2차원** (표)                       |
| **구성**     | Index + Value                   | Index + Columns + Value           |
| **데이터 타입** | **한 종류만 가능** (모두 숫자거나, 모두 문자거나) | **컬럼마다 다를 수 있음** (이름은 문자, 나이는 숫자) |

In [1]:
import pandas as pd

In [6]:
# 인덱스 지정안해주면 기본값은 0,1,2,...
data=[100,200,300]
s=pd.Series(data)
print(s)

0    100
1    200
2    300
dtype: int64

In [13]:
data=[100,200,300]
s=pd.Series(data,index=["A","B","C"])
print(s)
print(type(s))

A    100
B    200
C    300
dtype: int64
<class 'pandas.Series'>

In [9]:
# DataFrame : 행과 열이 있는 테이블 형태

In [11]:
data={
    "Name":["Iron Man","Captin","Thor"],
    "Age":[45,100,1500],
    "Weapon":["Suit","Shield","Hammer"]
}
df=pd.DataFrame(data)
df

       Name   Age  Weapon
0  Iron Man    45    Suit
1    Captin   100  Shield
2      Thor  1500  Hammer

### spark vs pandas 

| **특징**              | Pandas DataFrame                              | Spark DataFrame                                 |
| ------------------- | --------------------------------------------------- | ----------------------------------------------------- |
| **위치**              | **내 컴퓨터 메모리 (RAM)** 하나에 다 들어감.                      | **여러 서버(Executor)** 메모리에 쪼개져서(Partition) 들어감.         |
| **인덱스 (Index)**     | **매우 중요함!** (0, 1, 2... 행 번호가 자동 부여됨)               | **기본적으로 없음.** (필요하면 직접 만들어야 함)                        |
| **수정 (Mutability)** | **수정 가능 (Mutable)**<br><br>`df['A'] = 10` 하면 값이 바뀜. | **불변 (Immutable)**<br><br>한 번 만들면 못 바꿈. (새로운 DF를 리턴함) |
| **실행 방식**           | **즉시 실행 (Eager)**<br><br>엔터 치자마자 결과가 나옴.            | **지연 실행 (Lazy)**<br><br>`Action`을 부를 때까지 기다림.         |
| **데이터 크기**          | **작은 데이터** (몇 GB 이내)에 최적화.                          | **빅데이터** (TB, PB 단위) 처리에 필수.                          |

In [16]:
# Schema
# 컬럼이름
# 결측치 여부 확인가능
# 데이터 타입

In [15]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      str
 1   Age     3 non-null      int64
 2   Weapon  3 non-null      str
dtypes: int64(1), str(2)
memory usage: 204.0 bytes